/* Contact Section
  --------------------------------*/

form .info {
    color: #222;
}

form .info i {
    font-size: 32px;
    color: rgb(230, 126, 34);
    float: left;
    line-height: 0;
}

form .info p {
    padding: 0 0 10px 50px;
    margin-bottom: 20px;
    line-height: 22px;
    font-size: 14px;
}

form .info .email p {
    padding-top: 5px;
}

form .social-links {
    padding: 20px 0;
}

form .social-links a {
    font-size: 18px;
    display: inline-block;
    background: rgb(230, 126, 34);
    color: #fff;
    line-height: 1;
    padding: 6px 0 8px 0;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}


/* form .social-links a:hover {
    background: #55b03f;
    color: #fff;
} */

form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}

form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}

form .error-message br+br {
    margin-top: 25px;
}

form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}

form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}

form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}

form input,
form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
}

form input:focus,
form textarea:focus {
    border-color: rgb(230, 126, 34);
}

form input {
    padding: 10px 15px;
}

form textarea {
    padding: 12px 15px;
}

form button[type=submit] {
    background: rgb(230, 126, 34);
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
}


/* form button[type=submit]:hover {
    background: #92d283;
} */

@-webkit-keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-loading {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}