/* hide/show on desktop */

@media (min-width:1025px) {
    .hide_on_desktop {
        display: none;
    }
}


/* hide/show on tablets */

@media (max-width:960px) {
    .hide_on_tablet {
        display: none;
    }
}


/* hide/show on mobiles */

@media (max-width:480px) {
    .hide_on_mobile {
        display: none;
    }
}


/* Let's highlight canvas boundaries */

#gjs {
    border: 3px solid #444;
}


/* Reset some default styling */

.gjs-cv-canvas {
    top: 0;
    width: 75%;
    height: 100%;
}

.panel__top {
    padding: 0;
    width: 100%;
    display: flex;
    position: initial;
    justify-content: center;
    justify-content: space-between;
}

.panel__basic-actions {
    position: initial;
}

[class*="col-"] {
    display: flex;
    /* flex-direction: column !important; */
}

@media (max-width: 760px) {
    .navbar-brand {
        margin-left: auto;
    }
}

.gjs-dashed span.icon {
    min-height: 1.5rem !important;
    min-width: 1.5rem !important;
}

.row {
    flex-wrap: wrap !important;
}

.flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-direction-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

form button[type="submit"]:hover {
    background: rgb(230, 126, 34);
}

.place-content-center {
    place-content: center !important;
}

.left-all {
    place-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
    margin-right: auto;
    margin-left: 0;
}

.right-all {
    place-content: flex-end;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    margin-right: 0;
    margin-left: auto;
}

.center-all {
    place-content: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.fw {
    font-weight: 700;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.self-center {
    align-self: center;
}

.self-right {
    align-self: right;
}

.self-left {
    align-self: left;
}

.btn-voila-custom {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.gjs-trt-trait__wrp-id input {
    pointer-events: none;
}

.nowrap{
    white-space: nowrap;
}

a {
    display: block;
}