@first-color: #ec1e24;
@second-color: #0d6efd;
@third-color: #ff3399;
@fourth-color: #ffff00;

.first-color {
    color: @first-color!important;
}
.second-color {
    color: @second-color!important;
}
.third-color {
    color: @third-color!important;
}
.fourth-color {
    color: @fourth-color!important;
}

.first-background {
    background-color: @first-color!important;
}
.second-background {
    background-color: @second-color!important;
}
.third-background {
    background-color: @third-color!important;
}
.fourth-background {
    background-color: @fourth-color!important;
}

.first-background {
    background-color: @first-color!important;
}
.second-background {
    background-color: @second-color!important;
}
.third-background {
    background-color: @third-color!important;
}
.fourth-background {
    background-color: @fourth-color!important;
}

.first-placeholder-color::placeholder {
    color: @first-color!important;
}
.second-placeholder-color::placeholder {
    color: @second-color!important;
}
.third-placeholder-color::placeholder {
    color: @third-color!important;
}
.fourth-placeholder-color::placeholder {
    color: @fourth-color!important;
}

select.first-color:valid {
    color: @first-color!important;
}
select.second-color:valid {
    color: @second-color!important;
}
select.third-color:valid {
    color: @third-color!important;
}
select.fourth-color:valid {
    color: @fourth-color!important;
}

select.first-placeholder-color {
    color: @first-color!important;
}
select.second-placeholder-color {
    color: @second-color!important;
}
select.third-placeholder-color {
    color: @third-color!important;
}
select.fourth-placeholder-color {
    color: @fourth-color!important;
}