.select2-dropdown {
    z-index: 9999 !important
}

.bootstrap-timepicker-minute,
.bootstrap-timepicker-hour,
.bootstrap-timepicker-meridian,
.bootstrap-timepicker-second {
    width: 50px !important;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.datepicker {
    z-index: 1151 !important;
}

.sidebar-menu .treeview-menu>li>a {
    padding: 5px 5px 5px 25px;
}

.form-tab li a:hover {
    background: #eeeeee !important;
}

.form-tab li a.selected {
    background: #3c8dbc !important;
    color: #ffffff !important;
}

.alert_floating {
    bottom: 10px;
    right: 10px;
    position: fixed;
    z-index: 1001;
    background: rgba(255, 140, 127, 0.7);
    color: #222222;
    font-weight: bold;
    padding: 20px 50px 20px 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #aaaaaa;
}

#table_dashboard {
    font-size: 12px;
}

.login-box-body {
    box-shadow: 0px 0px 25px #999999;
}

.cms_switch_input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.cms_switch_label {
    cursor: pointer;
    text-indent: -9999px;
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 100px;
    position: relative;
}

.cms_switch_label:after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
}

.cms_switch_input:checked+label {
    background: #3c8dbc;
}

.cms_switch_input:checked+label:after {
    left: calc(100% - 1px);
    transform: translateX(-100%);
}

.cms_switch_label:active:after {
    width: 20px;
}

#table_dashboard th:not(:first-child) {
    width: 7%
}

.main-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999999;
    display: block;
}

.spinner-loader {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9999999;
    transform: translate(-50%, -50%);
}

.spinner-loader div {
    position: absolute;
    width: 6px;
    height: 6px;
    background: #3b3939;
    border-radius: 50%;
    animation: spinner-loader 1.2s linear infinite;
}

.spinner-loader div:nth-child(1) {
    animation-delay: 0s;
    top: 37px;
    left: 66px;
}

.spinner-loader div:nth-child(2) {
    animation-delay: -0.1s;
    top: 22px;
    left: 62px;
}

.spinner-loader div:nth-child(3) {
    animation-delay: -0.2s;
    top: 11px;
    left: 52px;
}

.spinner-loader div:nth-child(4) {
    animation-delay: -0.3s;
    top: 7px;
    left: 37px;
}

.spinner-loader div:nth-child(5) {
    animation-delay: -0.4s;
    top: 11px;
    left: 22px;
}

.spinner-loader div:nth-child(6) {
    animation-delay: -0.5s;
    top: 22px;
    left: 11px;
}

.spinner-loader div:nth-child(7) {
    animation-delay: -0.6s;
    top: 37px;
    left: 7px;
}

.spinner-loader div:nth-child(8) {
    animation-delay: -0.7s;
    top: 52px;
    left: 11px;
}

.spinner-loader div:nth-child(9) {
    animation-delay: -0.8s;
    top: 62px;
    left: 22px;
}

.spinner-loader div:nth-child(10) {
    animation-delay: -0.9s;
    top: 66px;
    left: 37px;
}

.spinner-loader div:nth-child(11) {
    animation-delay: -1s;
    top: 62px;
    left: 52px;
}

.spinner-loader div:nth-child(12) {
    animation-delay: -1.1s;
    top: 52px;
    left: 62px;
}

@keyframes spinner-loader {
    0%,
    20%,
    80%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}

.cms_switch_label {
    margin: 0;
}

#show-images {
    background: #f3f3f3;
}

[id^="modalInsertChildPhotosingle_"] .modal-body,
[id^="modalInsertPhotosingle_"] .modal-body {
    background-image: url('/vendor/crudbooster/assets/giphy.gif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    background-color: #e5eff1;
}