@first-color: #e48438;
@second-color: #2a3d48;
@third-color: #9d8966;
@fourth-color: #f1eeea;

.first-color {
    color: @first-color!important;
}
.second-color {
    color: @second-color!important;
}
.third-color {
    color: @third-color!important;
}
.fourth-color {
    color: @fourth-color!important;
}

.first-background {
    background-color: @first-color!important;
}
.second-background {
    background-color: @second-color!important;
}
.third-background {
    background-color: @third-color!important;
}
.fourth-background {
    background-color: @fourth-color!important;
}