@font-face {
    font-family: 'Droid Arabic Kufi';
    src: url('DroidArabicKufi.woff2') format('woff2'),
        url('DroidArabicKufi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

